<div class="container mt-5">
  <div class="text-left">
    <h3>Filter by</h3>
  </div>
  <div class="row">
    <div class="col-1">
      <a class="btn btn-outline-dark mt-auto" href="{% url 'filter_expensive' %}"> Expensive </a>
    </div>

    <div class="col-1">
      <a class="btn btn-outline-dark mt-auto" href="{% url 'filter_cheap' %}"> Cheap </a>
    </div>

    <div class="col-1">
      <a class="btn btn-outline-dark mt-auto" href="{% url 'filter_likes' %}"> Likes </a>
    </div>
  </div>
</div>


