<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >

    {% for produc in products %}
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
          class="card-img-top"
          src="{% if produc.images %}
          {{ produc.images.url }}
          {% else %}
          https://dummyimage.com/450x300/dee2e6/6c757d.jpg
          {% endif %}"
          alt="{{ produc.name }}"
          width="450"
          height="300"
           />
          
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ produc.name }}</h5>
              <!-- Product reviews-->
              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <!-- stars -->
                {% if produc.ratings == 1 %}
                    ⭐ 
                {% elif produc.ratings == 2 %}
                    ⭐⭐ 
                {% elif produc.ratings == 3 %} 
                    ⭐⭐⭐ 
                {% elif produc.ratings == 4 %} 
                    ⭐⭐⭐⭐ 
                {% elif produc.ratings == 5 %} 
                    ⭐⭐⭐⭐⭐ 
                {% else %} Reyting yo'q {% endif %}
              </div>
              <!-- Product price-->
              {% if produc.new_price != 0 %}
              <span class="text-muted text-decoration-line-through"
                >${{ produc.old_price }}</span
              >
              <strong> ${{ produc.new_price }}</strong>
              {% else %}
              <strong>${{ produc.old_price }}</strong>
              {% endif %}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' produc.id %}"
                >View product</a>
             
            
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
